.login-page {
  background-color: blue;
}

.example-card {
  max-width: 600px;
}

.center-content {
  margin-top: 100px;
  text-align: -webkit-center;
}

.example-full-width {
  margin-top: 10px;
  width: 100%;
}

.mat-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3F51B5;
}

.example-container .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
