<div class="center-content">
  <mat-card class="example-card">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Autentificare">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput value="" [(ngModel)]="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Parola</mat-label>
            <input matInput [type]="hideParolaLogin ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideParolaLogin = !hideParolaLogin"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideParolaLogin">
              <mat-icon>{{hideParolaLogin ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button mat-button color="primary" (click)="login()">Login</button>
        </mat-tab>
        <mat-tab label="Inregistrare">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput value="" [(ngModel)]="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Parola</mat-label>
            <input matInput [type]="hideParola ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideParola = !hideParola" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideParola">
              <mat-icon>{{hideParola ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Confirmare Parola</mat-label>
            <input matInput [type]="hideConfirmareParola ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hideConfirmareParola = !hideConfirmareParola"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmareParola">
              <mat-icon>{{hideConfirmareParola ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <button mat-button color="primary" (click)="register()">Inregistrare</button>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>

  </mat-card>
</div>
