/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/19/71/aRGhY0.jpg); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
